extends layout

block content
  .row
    .col-md-12
      video(poster="/images/#{lang}/poster.jpg" controls autoplay)
        source(type="video/mp4" src="/media/#{video}")
      script.
        var start = new Date().getTime();
      .alert.alert-info
        span loading…
        a.btn.btn-primary.hidden(href="/media/#{video}" target="_new" style="margin: 0 25px") Download
  .row
    .col-md-12
      ul.media-list
        each segment in segments
          li.media
            .media-left
              a
                img.media-object(src="http://interactive.aljazeera.com/aje/PalestineRemix/transcripts/images/#{segment.id}/#{lang}/p/img#{Math.floor(segment.start / 1000)}.jpg")
            .media-body
              h4.media-heading= segment.title
                span= ' [' + segment.startTC + ' – ' + segment.endTC + ']'
              p!= segment.text

  script.
    $('video').on('loadedmetadata', function(e) {
      $('.alert span').text('Video loaded in ' + (new Date().getTime() - start) + 'ms');
      $('a.btn.btn-primary').removeClass('hidden');
    });
